:host {
    $height: 30px;
    width: 300px;
    height: $height;
    line-height: $height;
    background: rgb(255, 127, 127);
    font-size: 18px;
    text-align: right;
    padding: 0 5px;
    box-sizing: border-box;
    position: fixed;
    top: 914px;
}