<div class="sidebox">
  <h2>Tileset Canvas:</h2>
  <p>Click on individual tiles to replace them, then save custom tileset</p>

  <label>Magnification Factor: </label>
  <select class="ui dropdown"
  [ngModel]="tilesetService.MULTIPLIER"
  (ngModelChange)="updateMultiplier($event)">
  <option *ngFor="let i of multiplierOptions"
        [value]="i">{{i}}</option>
  </select>
  <button class="ui button" (click)="saveTileset()">Save</button> 
  <button class="ui button" (click)="resetToDefaultTileset()">Default</button> 
  
</div>

<div id="tilesetevents">
  <canvas id='tilesetCanvas'tabindex="1"></canvas>
  <div id="tilesBox"></div>
</div>
