#tilesetevents {
  position: relative;
  border: 5px pink;
  left: 5%;
  top: 2em;
}

#tilesetCanvas {
  position: absolute;
  border: 5px red;
  top: 0;
  left: 0;
}

.sidebox {
  position: fixed;
  left: 20%;
  padding: 2em;
}