<div class="sidebox">
  <h5>Tileset Editing:</h5>
  <p>Click on individual tiles to replace with an image, then press 'save' to save changes to the map</p>
  <p>Pressing 'Default' will restore tileset to the game's default tileset</p>
  <label>Magnification Factor: </label>
  <select class="ui dropdown"
          [(ngModel)]="multiplier">
    <option *ngFor="let i of multiplierOptions"
            [value]="i">{{i}}</option>
  </select>
  <button class="ui button"
          (click)="saveTileset()">Save</button>
  <button class="ui button"
          (click)="resetToDefaultTileset()">Default</button>


</div>

<div id="tilesetevents">
  <canvas id='tilesetCanvas'
          tabindex="1"
          [style.width.px]="tilesetService.TILE_SIZE*multiplier"></canvas>
  <div id="tilesBox"
       [style.width.px]="tilesetService.TILE_SIZE * multiplier"
       [style.height.px]="tilesetService.TILE_SIZE * multiplier"
       [style.margin-top.px]="currentIndex * tilesetService.TILE_SIZE * multiplier">
  </div>
</div>