#tilesetevents {
  position: relative;
  left: 50%;
}

#tilesetCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

.options{
  position: fixed;
  right: 50px;
}

.title {
  position: fixed;
  left: 50px;
}