:host {
    flex: 1;
    background: rgb(127, 255, 255);
    font-size: 18px;
    overflow: auto;
    image-rendering: pixelated;
    position: relative;
}

#events {
    position: relative;
}

#events canvas,
#selectionBox {
    position: absolute
}

#assetCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#selectionBox {
    position: absolute;
    pointer-events: none;
    border: black dotted 10px;
}