:host {
    flex: 1;
    background: rgb(127, 255, 255);
    font-size: 18px;
    overflow: auto;
    image-rendering: pixelated;
    position: relative;
}

#assetCanvas{
    position: absolute;
    top: 0;
    left: 0;
}

#events{
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
}