<div class="ui container">
    <h5>Player Assets</h5>
    <div class="ui form">
        <div class="inline field">
            <label>Current Player:</label>
                <select class="ui dropdown" [(ngModel)] = "SelectPlayer" (ngModelChange)="onChangeSelectPlayer($event)">
                <option *ngFor="let i of PlayerNumber"
                        [value]="i">Player {{i}}</option>
            </select>
        </div>
        <div class="inline field">
            <img class="ui mini spaced image"
                 src=":../../assets/frontend_icons/gold_icon_4x.png">
                <input type = "text" 
                       [(ngModel)] = "GoldAmount"
                       placeholder = "Enter Gold"
                       (ngModelChange)="onChangeGold($event)">
        </div>
        <div class="inline field">
            <img class="ui mini spaced image"
                 src=":../../assets/frontend_icons/lumber_icon_4x.png">
                <input type="text"
                        [(ngModel)] = "LumberAmount"
                        placeholder="Enter Lumber"
                        (ngModelChange)="onChangeLumber($event)">
        </div>
    </div>
</div>

<div class="ui divider"></div>
<app-units class="section"></app-units>
<div class="ui divider"></div>
<app-structures class="section"></app-structures>