<p>
  Animation Canvas:
</p>
<div class="ui container" (keydown)="onKeyPress($event)">
<div>
  <label>Asset type:</label>
  <select class="ui dropdown"
    *ngIf="animationService.animation"  
    [ngModel]="animationService._currentAsset"
    (ngModelChange)="onChangeAsset($event)">
  
  <option *ngFor="let i of assetsList" [value]="i">{{myAssetType[i]}}</option>
  </select>
</div>

<div>
  <label>Action type:</label>
  <select class="ui dropdown"
    *ngIf="animationService.animation"
    [(ngModel)]="animationService._currentAction"
    (ngModelChange)="onChangeAction($event)">
    
  <option *ngFor="let i of animationService.animation.actionList">{{i.name}}</option>
  </select>
</div>

<div>
  <label>Direction:</label>
  <select class="ui dropdown"
    *ngIf="animationService.animation"
    [(ngModel)]="animationService._currentDirection"
    (ngModelChange)="onChangeDirection($event)">
  
  <option *ngFor="let i of animationService.animation.directionList">{{i.name}}</option>
  </select>
</div>

<div>
<button class="ui button" (click)="animationService.setDoubleSpeed(false)">1x</button>
<button class="ui button" (click)="animationService.setDoubleSpeed(true)">2x</button>
<button class="ui button" (click)="animationService.pauseAnimation()">Pause</button>
<button class="ui button" (click)="animationService.playAnimation()">Play</button>
<button class="ui button" (click)="animationService.prevFrame()"><-</button>
<button #container class="ui button" (click)="animationService.nextFrame()">-></button>
<button class="ui button" (click)="animationService.debugDraw()">Debug</button>
<button class="ui button" (click)="animationService.resetSprite()">Reset</button>
</div>
</div>

<div class="ui centered three column grid">
  <div class="row">
    <div class="middle aligned column">
    <button class="ui button" (click)="animationService.editSprite({dx:0,dy:-1})">Up</button>
    </div>
  </div>

  <div class="middle aligned row">
    <div class="right aligned column">
    <button class="ui button" (click)="animationService.editSprite({dx:-1,dy:0})">Left</button>
    </div>
    <div class="column">
    <canvas id='animationCanvas'></canvas>
    </div>
    <div class="left aligned column">
    <button class="ui button" (click)="animationService.editSprite({dx:1,dy:0})">Right</button>
    </div>
  </div>

  <div class="row">
    <div class="middle aligned column">
    <button class="ui button" (click)="animationService.editSprite({dx:0,dy:1})">Down</button>
  </div>
  </div>
</div>