<div id="newMapModal" class="modal">
  
    <!-- Modal content -->
    <div class="newmap">
      <span class="close" (click)="fun_close();">&times;</span>
      <h2 align="center">New Map</h2>
      <div style = "width:26.18%; height:100%; float:left;">
          <h3>Map Name: </h3> <br><br>
          <h3>Map Description:</h3> <br><br><br><br><br>
          <h3>Map Dimensions:</h3> <br><br>
          <h3>Number of Players:</h3> <br><br>
          <h3>Starting Resources:</h3>
          <h4 align="right">Player 1:</h4>
          <h4 align="right">Player 2:</h4>
          <h4 align="right">Player 3:</h4>
          <h4 align="right">Player 4:</h4>
          <h4 align="right">Player 5:</h4>
          <h4 align="right">Player 6:</h4>
          <h4 align="right">Player 7:</h4>
          <h4 align="right">Player 8:</h4>          
      </div>
      <div style = "width:70%; height:100%; float:right;">
      <input type="text" name="mapName" style="width:50%; margin-top:5px;"><br><br>
      <input type="text" name="mapName" style="width:50%; height: 60px;margin-top:8px;"> <br><br>
      <input type="text" name="width" style="width:40px; margin-top:5px;"> x
      <input type="text" name="height" style="width:40px;"> <br><br>
      
      <select id = "numPlayersID" name = "numPlayersName">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
      </select><br><br><br><br>
      
      <div style = "float:left; margin-top: 8px">
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
      <input type="text" name="goldPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/gold_icon.png"> 
      <input type="text" name="lumberPlayer1" style="width:100px;;"> <img src = ":../../assets/frontend_icons/lumber_icon.png"> <br><br>
   
      </div> 
      </div>
      <button align="right">Create Map</button>
    </div>
  
</div>