<div id="newMapModal" class="modal">
  
    <!-- Modal content -->
<div class="newmap">
    <span class="close" (click)="fun_close();">&times;</span>
    <h2 align="center">New Map</h2>
<div class='ui equal width two column grid'>

        <div class='column'><h3>Map Name: </h3></div>
        <div class='column'><div class='ui fluid input'><input type="text" placeholder='Name' id="NameField" name="mapName"> </div></div>

        <div class='column'><h3>Map Description:</h3></div>
        <div class='column'><div class='ui fluid input'><input type="text" placeholder='Description' id="DescField" name="mapDesc"> </div></div>

        <div class='column'><h3>Map Dimensions:</h3> </div>
        <div class='column' style="display:block;">
            <div class='ui input'>
                <input type="text" placeholder='width' id="WidthField" name="width">
            </div>
            <div class='ui input'>
                <input type="text" placeholder='height' id="HeightField" name="height"> 
            </div>
        </div>

        <div class='column'><h3>Resources Cap:</h3> </div>
        <div class='column'>
            <img class='ui middle aligned image' src = ":../../assets/frontend_icons/gold_icon.png">
            <div class='ui input'>
                <input type="text" placeholder='Gold' id="GoldCapField" name="goldCap">
            </div><br>
            <img class='ui middle aligned image' src = ":../../assets/frontend_icons/lumber_icon.png">
            <div class='ui input'>
                <input type="text" placeholder='Lumber' id="LumberCapField" name="lumberCap">
            </div>
        </div>
        
        <div class='column'><h3>Number of Players:</h3> </div>
        <div class='column'>
            <select class='ui dropdown' id="NumPlayersField" name = "numPlayersName">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div class='row'>
            <div class='ui center aligned column'><h3>Starting Resources:</h3></div>
        </div>

        <div class='column' *ngFor="let n of currentPlayers; let i = index">
            <!-- <div class='column'> -->
                <h4>Player {{n.id}}:</h4>
            <!-- </div> -->

            <div class='column'>
                <!-- <div *ngFor="let n of currentPlayers; let i = index"> -->
                    <img class='ui middle aligned image' src = ":../../assets/frontend_icons/gold_icon.png">
                    <div class='ui input'>
                        <input type="number" [(ngModel)]="currentPlayers[i].gold">
                    </div><br>
                    <img class='ui middle aligned image' src = ":../../assets/frontend_icons/lumber_icon.png">
                    <div class='ui input'>
                        <input type="number" [(ngModel)]="currentPlayers[i].lumber">
                    </div>
                <!-- </div> -->
            </div> 
        </div>
        
        <div class='row'>
            <div class='ui center aligned column'>
                <button class='ui button' id="CreateMapButton">Create Map</button>
            </div>
        </div>
    </div>
</div>
</div>
  
