<div id="sidebar">
  <!--<p>sidebar works!</p>-->
  <div id="terrain">
    <p align="left" style="height: 0; margin: 0 0 0 0">terrain</p>
    <label class="tile_container">
        <input class="tile" type="radio" name="tile" value="water" style="visibility: hidden">
        <div class="tile_sprite" id="t_water"></div>
    </label>
    <label class="tile_container">
        <input class="tile" type="radio" name="tile" value="dirt" style="visibility: hidden">
        <div class="tile_sprite" id="t_dirt"></div>
    </label>
    <label class="tile_container">
        <input class="tile" type="radio" name="tile" value="grass" style="visibility: hidden">
        <div class="tile_sprite" id="t_grass"></div>
    </label>
    <label class="tile_container">
        <input class="tile" type="radio" name="tile" value="tree" style="visibility: hidden">
        <div class="tile_sprite" id="t_tree"></div>
    </label>
    <label class="tile_container">
        <input class="tile" type="radio" name="tile" value="rock" style="visibility: hidden">
        <div class="tile_sprite" id="t_rock"></div>
    </label>
  </div>
</div>