<div class="ui container"
     id="properties">
    <h5>Map Properties</h5>
    <div class="ui form">
        <div class="inline field">
            <label>Name:</label>
            <input type = "text" 
                [(ngModel)] = "MapName"
                (ngModelChange)="onChangeName($event)">
        </div>
        <div class="inline field">
            <label>Number of Players:</label>
            <select class="ui dropdown" 
                    [(ngModel)] = "NumberPlayers" 
                    (ngModelChange)="onChangeNumberPlayers($event)">
                <option *ngFor="let i of NumPlayers"
                        [value]="i">{{i}}</option>
            </select>
        </div>
    </div>
</div>

<div class="ui divider"></div>
<app-terrain class="section"></app-terrain>
<div class="ui divider"></div>
<app-assets class="section"></app-assets>

<div class="ui divider"></div>
<div class="ui container">
    <h5>Cursors</h5>
    <div class="ui grid">
        <div class="three wide column"
             *ngFor="let button of cursorButtons">
            <img [src]="button.imgSrc">
        </div>
</div>