div#sidebar {
  float: left;
  width: 200px;
  height: 100%;
  background: rgb(255, 255, 127);
  font-size: 18px;
}

div#terrain {
  height: 200px;
  background: rgb(127, 255, 127);
}

label.tile_container {
  float:left;
  width: 30px;
  height: 30px;
}

div.tile_sprite {
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 0);
  border-style: solid;
}

input.tile:checked + div.tile_sprite {
  width: 30px;
  height: 30px;
  background: rgb(0, 255, 0);
}

div#t_water {
  background: rgb(127, 127, 0);  // insert sprite here
}

input.tile:checked + div#t_water {
  background: rgb(0, 127, 0);  // insert sprite here
}