:host {
    width: 300px;
    background: rgb(126, 219, 219);
    font-family: "Open Sans";
    font-size: 20px;
    position: fixed;
    top: 36px;
    left: 0;
    z-index: 1;
}

img {
    height: 50px;
    width: 50px;
}