<div class="ui container"
     id="audio">
  <h5 align="center">Customize Audio</h5>
    <div class = "audio">
    <h3>Customize Sounds </h3> <br>
    <select class="ui dropdown">
      <option *ngFor="let i of SongCategories"
              [value]="i">{{i}}</option>
    </select>
    <br/>
    <select class="ui dropdown">
      <option *ngFor="let i of Sounds"
              [value]="i">{{i}}</option>
    </select>
    <button class="ui button">Replace</button>
    <button class="ui button">Delete</button>
    <button class="ui button">Add</button>
    </div>
</div>