<div id="newMapModal" class="modal">
  
    <!-- Modal content -->
    <div class="newmap">
      <span class="close" (click)="fun_close($event);">&times;</span>
      <h2 align="center">Upload Map</h2>
      <div style = "width:26.18%; height:100%; float:left;">
          <h3>Username: </h3> <br><br>
          <h3>Password:</h3>          
      </div>
      <div style = "width:70%; height:100%; float:right;">
        <input type="text" name="username" style="width:50%; margin-top:5px;"><br><br>
        <input type="text" name="password" style="width:50%; margin-top:8px;"> <br><br>
        <button>Upload Map</button>      
      </div>  
    </div>
</div>