:host {
  flex: 1;
  background: #cccccc;
  font-size: 18px;
  overflow: auto;
  image-rendering: pixelated;
  position: relative;
}

#events {
  position: relative;
}

#events canvas,{
  position: absolute;
}
