<div class="ui grid">
<div class="column">
<button class="ui button" (click)="testmapService.spawn('Peasant')">Spawn Peasant</button>
<button class="ui button" (click)="testmapService.spawn('Footman')">Spawn Knight</button>
<button class="ui button" (click)="testmapService.spawn('Archer')">Spawn Archer</button>
<button class="ui button" (click)="testmapService.spawn('Ranger')">Spawn Ranger</button>
</div>
</div>
<div id="events">
  <canvas id='bottomCanvas'></canvas>
  <canvas id='topCanvas'></canvas>
  <canvas id='playerCanvas'></canvas>
</div>
