<div *ngIf="!loggedIn"
     id="login">
  <form class="ui form"
        [formGroup]="form">
    <div class="field">
      <label>User Name</label>
      <input type="text"
             name="username"
             formControlName="username"
             placeholder="User Name">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password"
             name="password"
             formControlName="password">
    </div>
    <button class="ui button fluid large"
            (click)="login()"
            [disabled]="!form.valid">Login</button>
  </form>
</div>


<div *ngIf="loggedIn"
     class="ui vertically divided grid">

  <div class="one column row">
    <div class="column">
      <div class="ui form">
        <div class="inline field">
          <input type="text"
                 placeholder="Map/Package name"
                 class="floated right"
                 [(ngModel)]="exportName">
          <div class="ui button"
               (click)="exportMap()">Upload Map</div>
          <div class="ui button"
               (click)="exportPackage()">Upload Package</div>
          <div class="ui button"
               (click)="debug()">Debug</div>
          <div class="ui checkbox">
                <input type="checkbox" id='myCheck'>
                <label>Private Upload</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one column row segments">
    <div class="ui top attached label">Private Maps</div>
    <div class="segment">
      <div id="privatemaps"
           class="ui cards">
        <ng-container *ngFor="let mapData of maps">
          <app-map-display *ngIf="mapData.isPrivate === '1'"
                           [mapData]="mapData"
                           (imported)="importMap($event)"
                           class="card"></app-map-display>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="one column row segments">
    <div class="ui top attached label">Public Maps</div>
    <div class="segment">
      <div id="publicmaps"
           class="ui cards">
        <ng-container *ngFor="let mapData of maps">
          <app-map-display *ngIf="mapData.isPrivate === '0'"
                           [mapData]="mapData"
                           (imported)="importMap($event)"
                           class="card"></app-map-display>
        </ng-container>
      </div>
    </div>
  </div>

</div>